
<!DOCTYPE html>
<html>
  <head>
    <title>LTI data</title>
  </head>
  <body>
    <p>Method: <tt><%= method %></tt></p>
    <p>Protocol: <tt><%= protocol %></tt></p>
    <p>Host: <tt><%= host %></tt></p>
    <pre><%= json %></pre>
  </body>
</html>
