
<!DOCTYPE html>
<html>
  <head>
    <title>LTI data</title>
  </head>
  <body>
    <table border="1">
      <tr><th>context_label</th><td><%= context_label %></td></tr>
      <tr><th>lis_person_sourcedid</th><td><%= lis_person_sourcedid %></td></tr>
      <tr><th>roles</th><td><%= roles %></td></tr>
    </table>
  </body>
</html>
