
<!DOCTYPE html>
<html>
  <head>
    <title>Nikoboard Test Result</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/nikoboard.css">
  </head>
  <body>
    <div class="container">
      <p>Please check that the following data is correct. If not, tell the professor
      immediately.</p>
      
      <table class="table">
        <tr><th>Course</th><td><%= course %></td></tr>
        <tr><th>Team</th><td><%= team %></td></tr>
        <tr><th>NetID</th><td><%= netid %></td></tr>
      </table>
    </div>
    
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
