body, .btn-default, .input-short {
  font-size: 22px;
}

#team-btn-group .btn {
  width: 5em;
}

.input-short {
  display: inline-block;
  width: 6em;
}

.ok {
  color: green;
}

.not-ok {
  color: red;
}

#team-board  table{
  width: auto;
}

#team-board th {
  border-right: 3px gray solid;
  font-size: 150%;
  text-align: right;
}